
body{

    border: 0;
    margin: 0;
    font-size: 15px;
   background-color: #f0f8ff;
    font-family: monospace;

}

a{

    text-decoration: none;
}

.botdiv{

margin: 10px;

}
header{

    background-color: orange;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

h1{

    font-size: 50px;
    color: #2196f3;
    text-align: center;
}

header h1{

    color: white;

}

.button{

height: 40px;
width: 100px;
border: none;
border-radius: 15px;
cursor: pointer;
margin: 10px;

}

.button:hover{


color: white;
background-color: black;

}

main{

    padding: 20px;
}

img{

    height: 150px;

}
form div{

    margin: 5px 0;
}

section{

    height: 100vh;
    border: 2px solid grey;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px;

    
}
.sub{

height: 40px;
width: 100px;
border: none;
border-radius: 15px;
cursor: pointer;

}

.sub:hover{


color: white;
background-color: black;

}


input{


border-radius: 5px;
border: 1px solid grey;
height: 25px;
margin: 2px;
 

}

.fixed{


position: fixed;
bottom: 10px;
right: 10px;
border: none;
height: 70px;
width: 70px;
border-radius: 50%;
cursor: pointer;
color: white;
background-color: #2196f3;



}

footer{

background-color: black;
height: 124px;
color: lightgray;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}